
:root {
     --primary-color: white ;
     --secondary-color: blue;
     --text-color:black;
     --button-color:orange
}
 
.header {
  transform: translateY(-100%);  
  transition: transform 1.5s ease-in-out;  
}

.header.show {
  transform: translateY(0);  
}

#bienvenu_left, #bienvenu_right {
  transform: translateX(-100%);  
  transition: transform 1s ease-in-out;  
}

 
#bienvenu_left.show {
  transform: translateX(0);  
}

#bienvenu_right.show {
  transform: translateX(0); 
}
@keyframes floatUpDown {
     0% {
       transform: translateY(30px);
       opacity: 0;
     }
     50% {
       transform: translateY(-10px);
       opacity: 1;
     }
     100% {
       transform: translateY(30px);
       opacity: 0;
     }
   }
 
   .float-card {
     animation: floatUpDown 3s ease-in-out infinite;
     animation-fill-mode: both;
   }
 
   /* Délai pour chaque carte */
   .delay-0 { animation-delay: 0s; }
   .delay-1 { animation-delay: 0.5s; }
   .delay-2 { animation-delay: 1s; }